.toolImage {
  padding: 1em;
  margin: 0.25em;
  border-radius: 10%;
}

.titleStack {
  margin: 1.25em 0;
  padding: 0 1em;
  text-align: center;
}

.title {
  font-weight: bold; 
}

.modalStack {
  margin: 1em;
  padding: 0 1em;
}
